:root {
  --width-rem: 1.3rem;
  --height-rem: 1.2rem;
}

.arc-hole-top-outer-outer {
  position: absolute;
  top: -0.2rem;
  width: var(--width-rem);
  height: calc(var(--height-rem) - 70%);
  border-radius: 50%;
  background-color: #9b59b6;
}

.arc-hole-bottom-outer-outer {
  position: absolute;
  bottom: -0.2rem;
  width: var(--width-rem);
  height: calc(var(--height-rem) - 70%);
  border-radius: 50%;
  background-color: #9b59b6;
}

.conjunto-circle {
  position: relative;
  display: inline-block;
  width: var(--width-rem);
  height: var(--height-rem);
}

.outer-outer-circle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: inline-block;
  width: var(--width-rem);
  height: var(--height-rem);
  border: 0.16rem solid #F3395A;
  border-radius: 50%;
  animation: outerOuterCircle 1.5s infinite;
}

.outer-circle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: inline-block;
  width: calc(var(--width-rem) - 30%);
  height: calc(var(--height-rem) - 30%);
  border: 0.16rem solid #F3395A;
  border-radius: 50%;
  animation: outerCircle 1.5s infinite;
}

.inner-circle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: calc(var(--width-rem) - 70%);
  height: calc(var(--height-rem) - 70%);
  background-color: #F3395A;
  border-radius: 50%;
  animation: innerCircle 1.5s infinite;
}

  
  @keyframes outerOuterCircle {
      0%,35% {
          opacity: 0;
      }
      40% {
          opacity: 1;
      }
      60% {
        opacity: 1;
      }
      70%,100% {
          opacity: 0;
      }
  }
  
  @keyframes outerCircle {
      0%,20% {
          opacity: 0;
      }
      30% {
        opacity: 1;
      }
      70% {
          opacity: 1;
      }
       100% {
          opacity: 0;
      }
  }
  
  @keyframes innerCircle {
      0% {
          opacity: 0;
      }
      15% {
          opacity: 1;
      }
      90% {
        opacity: 1;
      }
      100% {
          opacity: 0;
      }
  }
  
  
  
  