  @font-face {
    font-family: "BlommingElegant";
    src: local("BlommingElegant"), url("../../../../fonts/BloomingElegant/Blooming\ Elegant\ Sans.otf");
  }
    
  #nav-dropdown {
    font-family: "BlommingElegant", sans-serif;
    font-weight: 300;
    font-size: 2vw;
    padding-right: 350px;
  }
  
  .nav-link-custom {
    color: rgba(255, 255, 255, 0.596) !important;
    margin: 0 1vw 0 1vw;
    padding: 0 !important;
  }
  
  .nav-link-custom.active,
  .nav-link-custom:hover {
    color: rgba(255, 255, 255, 0.9) !important;
    border: none;
  }
  
  .nav-link-custom.active::after {
    content: "";
    display: block;
    height: 5px;
    margin-top: 10px;
    background-color: rgba(255, 255, 255, 0.85);
    width: 100%;
  }

  .nav-link-custom.desactive {
    color: rgba(255, 255, 255, 0.596) !important;
    margin: 0 1vw 0 1vw;
    padding: 0 !important;
  }

  .nav-link-custom.desactive::after{
    content: "";
    display: block;
    height: 0px;
    margin-top: 0px;
    background-color: none;
    width: 0
  }
  
  .live-container {
    position: relative;
    display: inline-block;
  }
  
  .live-img {
    position: absolute;
    top: -0.7rem;
    left: -1.3rem;
    z-index: -1;
  }
  
  .dropdown-item {
    width: 16vw !important;
  }
  
  .dropdown-menu {
    transform: translateX(calc(-6.8vw + 60px));
    border-radius: 20px !important;
    animation: fadeIn 0.3s, growIn 0.2s;
    font-family: "Tanseek", sans-serif;
    letter-spacing: 0.5px;
  }
  
  .dropdown-menu::before {
    content: '';
    position: absolute;
    top: -15px;
    left: 50%;
    transform: translateX(-50%);
    border-width: 8px;
    border-style: solid;
    border-color: transparent transparent #fff transparent;
  }
  
  .dropdown-toggle::after {
    margin-bottom: -2px;
    transition: transform 0.2s;
  }
  
  .dropdown-toggle:hover::after {
    transform: rotate(180deg);
  }
  
  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  
  @keyframes growIn {
    from {
      transform: translateX(calc(-6.8vw + 60px)) scale(0);
    }
    to {
      transform: translateX(calc(-6.8vw + 60px)) scale(1);
    }
  }
  